name: Release

on:
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'
    - name: Create packages
      run: |
        python -m pip install build
        python -m build .
    - name: Publish packages
      run: |
        python -m pip install twine
        python -m twine upload dist/* --skip-existing --username __token__ --password ${{ secrets.pypi_password }}
